
$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);
$lightGray: hsl(204, 43%, 93%);
$grayBlue: hsl(218, 22%, 67%);
$cyanSecond: #4abebd;
$whiteText: #f9ffff;
$welcomeText: #b4b9bf;
$cyanText: #7fe1e4;